In [ ]:
2390+2390

In [ ]:
231-2392

In [ ]:
26269+5156189

In [ ]:
10/3

In [ ]:
10//3 # floor division

In [ ]:
10**3

In [ ]:
10%3-120*5

In [ ]:
name ="Tariq abdin"
age = 23
can_vote = True

In [ ]:
a=5
a+=50
a-=10

In [ ]:
a=10
b=31
print(a>b)
print(a<b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)
print(a==b)

In [ ]:
x= 'apple'
u='cherry'
print (x=='apple' and x==u)
print (x=='apple' and x!=u)
print (x=='apple' or x==u)
print (not x=='apple')

In [ ]:
fruits=('mango','apple','cherry')

In [ ]:
'mango' in fruits #membership operators

In [34]:
'avocado' in fruits

False

In [38]:
p=int(input('principal: '))
r=float(input('rate: '))
t=int(input('time'))
si=p*r*t/100
amt=si+p
print('principal',p)
print('rate',r)
print('time',t)
print('simple interest',si)
print('amount',amt)

principal 233112162
rate 2.23
time 14
simple interest 72777616.97639999
amount 305889778.9764

In [39]:
fav_city=input('favourite city: ')
print('your favourite city is',fav_city )

your favourite city is ballia

In [2]:
#this is a ccomment 
#this is a also a comment
print("hello world")

hello world

In [3]:
a=10
b=20
c=a+b
print(c)

30

#variable and datatypes

In [8]:
a=50
b=15.67
c="srmu"
d= True
e= 2 + 6j
print(a)
print(b)
print(c)
print(d)
print(e)

50
15.67
srmu
True
(2+6j)

#multiple variable assignment

In [9]:
a,b,c =76,False,"srmu"
print (a)
print (b)
print (c)

76
False
srmu

##operators
## +, -,*,**,/,//,%

In [10]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)

15
5
50
100000
2.0
2

print() function

print(data)
print(datad1,data2,data3)
print(f'message{data}')

In [2]:
name="Tariq"
city="Ballia"
print(name, city)
print(name)
print(city)
print(name, city, sep='\n')
print(name, city,sep=',')
print(f'{name} lives in {city}') # formatted string

Tariq Ballia
Tariq
Ballia
Tariq
Ballia
Tariq,Ballia
Tariq lives in Ballia

In [11]:
qty=2
price = 200.00
total=qty*price
if total> 200:
    print('You purchased items for more than 200 ')
    print ('you get a 10% discount')
    total=total *0.9 #90% of the total
print('total',total)

You purchased items for more than 200
you get a 10% discount
total 360.0

In [5]:
number = int (input('enter a number:'))
if number % 2 == 0:
    print(f'even num {number}')
else:
    print (f'odd num {number}')

even num 12365488

In [8]:
marks = int(input('enter total marks you get:'))
total = 600
pct = marks / total * 100
print(f'percentage{pct}%')
if pct>=90:
    print ('Grade A+😊')
elif pct >=80:
    print('Grade A🤷‍♀️')
elif pct >=70:
    print ('Grade B')
elif pct >=60:
    print("Grade C")
elif pct >=50:
    print ('Grade D')
else:
    print('😔😔😔😔😔')

percentage12.5%
😔😔😔😔😔

In [9]:
print('what is the capital of utttarkhand')
print('A. Dehradun')
print('B. Delhi')
print('C. lucknow ')
print('D. pune')
ans = input ('enter option number:')
match ans :
    case 'A':
        print('coreect , aap jeet gaye 40 crore😍😍😍')
    case 'B':
        print ('wrong answer,UP ka naii to kahi ka nai')
    case 'C' :
         print ('wrong answer,delhi ka nai to kahi ka nai')
    case 'D' :
        print('wrong answer')
    case _ :
        print('Invalid option')

what is the capital of utttarkhand
A. Dehradun
B. Delhi
C. lucknow
D. pune
coreect , aap jeet gaye 40 crore😍😍😍