


Strings

.create
. indecxing & access
.slicing
. most useful methods

In [11]:
a= 'apple'
b="applejuice"
c= 'this is an example'
d= '''this is an 
example'''           #triple quotes

.string is a imutable
.string is iterable
.string is indexed

iterable - something that has multiple variable and can be looped over

In [12]:
print(a[0])
print(a[1])
print(a[-1])

a
p
e

Slicing 
`str[start:stop:step]

In [14]:
name = "tariq abdin"
print(name[0],name[1],name[3],sep='')

tai

In [25]:
name = "tariq abdin"
print(name[6:10])
print(name[2:8])
print(name[:1:9]) ##start to 9 index with the step 1
print(name[::-1]) ##reverse the string

abdi
riq ab
t
nidba qirat

In [28]:
name[:][::-1][:5]

'nidba'

In [33]:
fname = "bruce"
lname = "wayne"
fname + ' '+ lname ##concentation

'bruce wayne'

In [30]:
'ha ' * 20 ##repetition

'ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha '

In [32]:
'ðŸ˜‚ ' * 30

'ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ ðŸ˜‚ '

In [35]:
a.capitalize()

'Apple'

find and replace

In [46]:
sentence =  'The king went to the jungle'
sentence.find('king')
print(sentence.find('queen') )     # -1 if not found
print(sentence.find('in'))

print(sentence.replace('king','queen'))
print(sentence.replace('jungle','castle'))

sentence2 = sentence.replace('king','queen').replace('jungle','castle')
print(sentence2)
sentence.replace('e','o')

-1
5
The queen went to the jungle
The king went to the castle
The queen went to the castle

'Tho king wont to tho junglo'

In [50]:
print(sentence.replace('e','o'))
print(sentence.split()) ##split the sentence
s3='apple,banana,mango,angur'
s3.split(',')

Tho king wont to tho junglo
['The', 'king', 'went', 'to', 'the', 'jungle']

['apple', 'banana', 'mango', 'angur']

In [51]:
poem = ''' twinkle,twinkle ,little star,
how i wonder what are you are !
up above the world so high,
like a diamond in the sky.
'''
print(poem.splitlines())
print(poem.split())
print(poem.split(','))

[' twinkle,twinkle ,little star,', 'how i wonder what are you are !', 'up above the world so high,', 'like a diamond in the sky.']
['twinkle,twinkle', ',little', 'star,', 'how', 'i', 'wonder', 'what', 'are', 'you', 'are', '!', 'up', 'above', 'the', 'world', 'so', 'high,', 'like', 'a', 'diamond', 'in', 'the', 'sky.']
[' twinkle', 'twinkle ', 'little star', '\nhow i wonder what are you are !\nup above the world so high', '\nlike a diamond in the sky.\n']

In [53]:
path = ['c:','home',"user",'document','file.txt']
print(" ".join(path))
print("/".join(path))
print(", ".join(path))
print("".join(path))
print("ðŸ˜˜ðŸ˜˜".join(path))

c: home user document file.txt
c:/home/user/document/file.txt
c:, home, user, document, file.txt
c:homeuserdocumentfile.txt
c:ðŸ˜˜ðŸ˜˜homeðŸ˜˜ðŸ˜˜userðŸ˜˜ðŸ˜˜documentðŸ˜˜ðŸ˜˜file.txt